.git
.gitignore
.env
.env.*
!*.env.example
**/.env
**/.env.*
!**/.env.example
**/.venv
**/venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/pytest-cache-files-*
**/node_modules
**/dist
**/*.tsbuildinfo
**/*.log
.coverage
htmlcov
.DS_Store
